body {
    background-color: rgba(213,225,239,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qr_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49,125,241); 
    size-adjust:  0px;
    border-radius: 10px;
}

h1 {
    padding: 10px;
    font-family: Arial;
    font-size: large;
    text-align:justify, center;
}

p {
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center, justify;
}
